.searchResult {
  margin: 1rem 1rem;
}
.searchResult__link {
  font-family: "Graphik Web", Arial, sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.3;

  text-decoration: none;
  color: var(--color-standard__black);
  border-bottom: 2px solid var(--color-secondary2);
}
.searchResult a:visited {
  color: var(--color-standard__black);
}
.searchResult a:hover {
  border-bottom: 2px solid var(--color-secondary3);
}

.searchResult__content {
  margin: 0;
}

.searchResult__handbookTitle {
  font-style: italic;
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.searchResults {
  margin-top: 3rem;
}
