html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
}

@import "~@variant/profile/lib/colors/index.module.css";
@import "~@variant/profile/lib/typography/index.module.css";

html,
body,
#root {
  min-height: 100%;
}
#root {
  position: relative;
}

.illustration {
  max-width: 60%;
  width: 20rem;
  margin: 5rem 2rem 2rem;
}
.illustration--right {
  float: right;
  margin: 5rem 0 2rem 2rem;
  right: -4rem;
}
.illustration--left {
  float: left;
  margin: 5rem 2rem 2rem 0;
  left: -4rem;
}
.illustration--center {
  margin: 2rem auto;
  display: block;
  top: 8rem;
}

.illustration--headquarter {
  top: 1rem;
}

.handbook > h1:first-child {
  font-weight: 700;
  margin: 3rem 0;
  font-size: 3rem;
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary1),
    var(--color-secondary2)
  );
  background-size: 200% 200%;
  animation: backgroundPos 30s ease-in-out infinite;
  -webkit-background-clip: text;
  background-clip: text;
  transition: color 0.2s ease-in-out;
  color: transparent;
}

/*  TODO Copied from handbooks */
.handbook h1 {
  line-height: 1.2;
  font-family: "Graphik Web", Arial, sans-serif;
  font-weight: normal;
}
.handbook h1.fancy {
  font-family: "Recoleta-Regular", serif;
}
.handbook h1 {
  font-size: 2.25rem;
}
.handbook * + h1 {
  margin-top: 2.25rem;
}

.handbook h2 {
  line-height: 1.3;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.handbook h2.fancy {
  font-family: "Recoleta-Medium", serif;
}
.handbook * + h2 {
  margin-top: 3rem;
}

.handbook h3 {
  line-height: 1.3;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.handbook * + h3 {
  margin-top: 2rem;
}

@keyframes backgroundPos {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@media (max-width: 1100px) {
  .content__inner {
    width: 100%;
  }
  ul {
    padding-left: 3rem;
  }
  .illustration {
    max-width: 40%;
    width: 13rem;
  }
  .illustration--right {
    margin: 3rem 0 1rem 1rem;
    right: -1rem;
  }
  .illustration--left {
    margin: 3rem 1rem 1rem 0;
    left: -1rem;
  }
  .illustration--center {
    margin: 0 auto;
    display: block;
  }
}
.markdownIt-Anchor {
  display: none;
}
