.main {
  display: flex;
}

.content {
  max-width: 50rem;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0 auto;
}

.nav {
  width: 30%;
  max-width: 25rem;
  min-width: 20rem;
  margin-right: 2rem;

  position: relative;

  background: var(--color-secondary4__tint3);
}

.nav__inner {
  position: sticky;
  top: 0;
  overflow: auto;
  height: 100vh;
  padding: 2rem 2rem 6rem;

  font-size: 1.2rem;
}

.nav__logo {
  padding: 1.5rem 0rem 1rem;
  display: block;
}
.nav__inner p {
  font-weight: 500;
  font-size: 1.5rem;
}
.nav__inner ul {
  list-style-type: lower-roman;
  padding-left: 1.5rem;
}
.nav__inner ul li {
  padding-bottom: 1.5rem;
  color: var(--color-secondary3);
}

.nav__inner ul li:hover {
  color: var(--color-primary);
}
.nav__inner ul a {
  text-decoration: none;
  color: var(--color-standard__black);
}

.nav__inner ul a:hover {
  border-bottom: 2px solid var(--color-secondary2);
}
.nav__inner__searchform {
  display: flex;
}
.nav__inner__searchform button {
  margin-left: 0.5rem;
  border: none;
  background: var(--color-secondary1);
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: var(--color-secondary1--text);
  border-radius: 0.5rem;
  font-weight: 500;
}

.footer {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color-standard__black);
  color: var(--color-standard__white);
  font-size: 0.875rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 4rem;
}

.footer a {
  margin-left: 0.5rem;
  color: var(--color-standard__white);
  text-decoration: none;
  border-bottom: 2px solid var(--color-secondary2__tint3);
}
