.main {
  position: relative;
  overflow-x: hidden;
  width: 100%;
}

.content {
  max-width: 50rem;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0 auto;
  margin-left: 21rem;
  padding: 0.5rem;
  padding-bottom: 5rem;
  flex-grow: 1;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-wrap: wrap;
  background-color: #ede8d7;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;

  position: fixed;
  width: 100%;
  z-index: 100;
}

.header__logo img {
  display: block;
  height: 0.9rem;
}

.burgerButtonContainer {
  background-color: transparent;
  border: 0;
  font-size: 1.2rem;
  cursor: pointer;

  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.burgerButtonContainer:focus {
  outline: none;
  box-shadow: 0 0 0 0.15rem rgba(21, 156, 228, 0.4);
}

.bar1,
.bar2,
.bar3 {
  position: relative;
  width: 1.8rem;
  height: 0.2rem;
  background-color: var(--color-secondary1);
  margin: 0.29rem 0;
  transition: 0.3s;
}

.bar1_change,
.bar2_change,
.bar3_change {
  composes: bar1;
}

.bar1_change {
  -webkit-transform: rotate(-45deg) translate(-0.35rem, 0.35rem);
  transform: rotate(-45deg) translate(-0.35rem, 0.35rem);
}
.bar2_change {
  opacity: 0;
}
.bar3_change {
  -webkit-transform: rotate(45deg) translate(-0.35rem, -0.35rem);
  transform: rotate(45deg) translate(-0.35rem, -0.35rem);
}

.nav {
  width: 20rem;

  background-color: #ede8d7;

  height: -webkit-fill-available;
  position: fixed;
  overflow-y: auto;

  right: 0;

  z-index: 50;
  padding-top: 3rem;

  transform: translateX(100%);
  transition: transform 450ms ease-in-out;
}

.nav li {
  margin: 0;
}

.nav__active {
  transform: translateX(0);
  transition: transform 450ms ease-in-out;

  max-width: none;
}

.header {
  display: flex;
}

.content {
  margin: 3rem auto;
}

.nav__inner {
  position: sticky;
  top: 0;
  overflow: auto;
  padding: 2rem 2rem 6rem;

  font-size: 1.2rem;
}

.nav__logo {
  padding: 1.5rem 0rem 1rem;
  display: block;
}
.nav__logo img {
  height: 2rem;
  display: block;
  margin: auto;
}
.nav__inner p {
  font-weight: 500;
  font-size: 1.5rem;
}
.nav__inner ul {
  list-style-type: lower-roman;
  padding-left: 1.5rem;
}

.nav__inner__link {
  padding-bottom: 1.5rem;
  color: var(--color-secondary3);
}

.nav__inner__link__active {
  color: var(--color-primary);
  padding-bottom: 1.5rem;
}
.nav__inner__link__active a {
  border-bottom: 2px solid var(--color-primary__tint2);
}
.nav__inner ul li:hover {
  color: var(--color-primary);
}

.nav__inner ul a {
  text-decoration: none;
  color: var(--color-standard__black);
}

.nav__inner ul a:hover {
  border-bottom: 2px solid var(--color-secondary2);
  cursor: pointer;
}

.nav__inner__searchform {
  display: flex;
  margin-bottom: 3rem;
}

.nav__inner__searchform button {
  margin-left: 0.5rem;
  border: none;
  background: var(--color-secondary1);
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: var(--color-secondary1--text);
  border-radius: 0.5rem;
  font-weight: 500;
}
