.main {
  position: relative;
  overflow-x: hidden;
}

.content {
  max-width: 50rem;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0 auto;
}

.footer {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color-standard__black);
  color: var(--color-standard__white);
  font-size: 0.875rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 4rem;
}

.footer a {
  margin-left: 0.5rem;
  color: var(--color-standard__white);
  text-decoration: none;
  border-bottom: 2px solid var(--color-secondary2__tint3);
}
